:root {
    --background-purple-darker: #1f0f2f !important;
    --text-purple-darker-h1: #9575cd !important;
    --text-purple-darker-h2: #b39ddb !important;
    --text-purple-darker-h3: #d1c4e9 !important;
    --text-purple-darker: #ffffff !important;
    --hr-purple-darker: #7b1fa2 !important;
    --link-purple-darker: #ab47bc !important;
    --link-purple-darker-hover: #ce93d8 !important;
    --link-unresolved-purple-darker: #ab47bc !important;
    --link-unresolved-decoration-purple-darker: #ab47bc !important;
    --table-border-purple-darker: #7b1fa2 !important;
    --table-header-purple-darker: #ab47bc !important;
    --code-background-purple-darker: #291134 !important;
    --blockquote-border-purple-darker: #7b1fa2 !important;
    --checkbox-purple-darker: #ab47bc !important;
}

.page-purple-darker {
    background-color: var(--background-purple-darker) !important;
    --hr-color: var(--hr-purple-darker) !important;
    --link-unresolved-color: var(--link-unresolved-purple-darker) !important;
    --link-external-color: var(--link-purple-darker) !important;
    --link-external-color-hover: var(--link-purple-darker-hover) !important;
    --link-color: var(--link-purple-darker) !important;
    --link-color-hover: var(--link-purple-darker-hover) !important;
    --link-unresolved-decoration-color: var(--link-unresolved-decoration-purple-darker) !important;
    --table-border-color: var(--table-border-purple-darker) !important;
    --table-header-border-color: var(--table-header-purple-darker) !important;
    --table-header-color: var(--table-header-purple-darker) !important;
    --code-background: var(--code-background-purple-darker) !important;
    --blockquote-border-color: var(--blockquote-border-purple-darker) !important;
    --checkbox-color: var(--checkbox-purple-darker) !important;
}

.page-purple-darker-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-purple-darker-h1) !important;
    text-align: center !important;
    font-size: 40px !important;
}

.page-purple-darker-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-purple-darker-h2) !important;
    font-size: 32px !important;
}

.page-purple-darker-headings :is(h3, .HyperMD-header.HyperMD-header-3) {
    color: var(--text-purple-darker-h3) !important;
}
